<% unless @feed_items.empty? %>
  <div class="microposts" summary="User microposts">
    <%= render :partial => 'shared/feed_item', :collection => @feed_items %>
  </div>
  <%= will_paginate @feed_items %>
<% end %>
