<%= javascript_include_tag 'micropost_form_counter' %>
<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content, :onkeyup    => 'javascript:changeCounter();', 
                              :onkeydown  => 'javascript:changeCounter();',
                              :onkeypress => 'javascript:changeCounter();' %>
  </div>
  <div class="counter_text">
    Characters left:
  </div>
  <span id="counter" class="counter_norm">
    <%= @micropost.class.validators_on(:content)[1].options[:maximum] %>
  </span>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
