<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= render 'follow_form' if signed_in? %>
      <% unless @user.microposts.empty? %>
        <div class="microposts" summary="User microposts">
          <%= render @microposts %>
        </div>
        <%= will_paginate @microposts %>
      <% end %>
    </td>
    <td class="sidebar round">
      <%= render 'shared/sidebar' %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>
